@import '../../../mixins/fonts.scss';
.textCloud{
  @include Body2;
  display: block;
  justify-content: center;
background-color: white;
border: 1px solid gray;
border-radius: 30px;
font-size: 8px;
position: fixed;
padding-left: 20px;
padding-right: 20px;
line-height: 15px;
width: 100%;
min-width: 220px;
}