@import "../../mixins/fonts.scss";
@import "../../mixins/colors.scss";

.box{
    margin-top: 28px;
    width: 100%;
    position: relative;
}

.box_title{
    display: block;
    @include Body2;
    color: $color-gray700;
    margin-bottom: 8px;
    margin-left: 22px;
    font-size: 16px;
}