$color-white: white;
$color-gray50: #FAFAFA;
$color-gray100: #F5F5F5;
$color-gray200: #EEEEEE;
$color-gray300: #E0E0E0;
$color-gray500: #9E9E9E;
$color-gray600: #757575;
$color-gray700: #616161;
$color-gray800: #424242;
$color-gray900: #212121;
$color-cyan50: #E0F7FA;
$color-cyan500: #00BCD4;
$color-cyan700: #0097A7;
$color-cyan800: #00838F;
$color-cyan900: #006064;